/* add your CSS here */
.border {
    border: 1px solid rgba(204, 204, 204, .3);
}
.card-container {
    width: 325px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .2);
    transition: box-shadow .5s linear;
}
.card-container:hover {
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, .3);
}
.card-head {
    padding-left: 15px;
}
.card-img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
    filter: grayscale(100%);
    transition: filter .5s linear;
}
.card-img:hover {
    filter: grayscale(0%);
}
.card-description {
    width: 280px;
    margin: 10px auto;
    padding: 0 10px;
}
.small-details {
    font-style: italic;
}

.list-item {
    list-style: none;
    padding: 0;
}
.items {
    text-transform: capitalize;
}
.items span {
    font-weight: bold;
}